# Ignore all
*
# Unignore files with extensions
!*.*
# Unignore dirs
!*/

# Unignore makefile
!makefile

# Unignnore Bazel build files
!BUILD

# Ignore VSCode config
.vscode

# Ignore build directory
*/build

# Ignore object files
*.o

# Ignore generated protobuf files
*.pb.cc
*.pb.h
*.mypb.cc
*.mypb.h

*.MODULE.bazel.lock
